/* Root CSS */

:root {
    /* Color Variables */
    --primary-green: #7E7E5A;
    --secondary-green: #3E3C2A;

    --primary-brown: #977347;
    --secondary-brown: #4C3A1A;

    --primary-grey: #C5C7BD;
    --secondary-grey: #9E9F98;

    --primary-orange: #994930;
    --secondary-orange: #B88672;
}

/* Global CSS */

body {
    font-family: 'Roboto', sans-serif;
    margin: 25px;
    padding: 25px;
    background: var(--primary-grey);
    max-width: fit-content;
    /* position: relative; */
}

footer {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}
