:root {
    --primary-green: #7E7E5A;
    --secondary-green: #3E3C2A;
    --primary-brown: #977347;
    --secondary-brown: #4C3A1A;
    --primary-grey: #C5C7BD;
    --secondary-grey: #9E9F98;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--primary-grey);
}