/* Root CSS */

:root {
    --primary-green: #7E7E5A;
    --secondary-green: #3E3C2A;
    --primary-brown: #977347;
    --secondary-brown: #4C3A1A;
    --primary-grey: #C5C7BD;
    --secondary-grey: #9E9F98;
}

/* Global CSS */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--primary-grey);
}

.div {
    border: #3E3C2A solid 1px;
    text-align: center;
}

/* Header.jsx CSS */

.headerH1 {
    color: var(--primary-green);
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.headerNav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.headerUl {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.headerLi {
    margin: 5px 5px;
}

.headerButton {
    background-color: var(--primary-green);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    /* cursor: pointer; */
}

/* About.jsx CSS */

.aboutH1 {
    color: var(--primary-green);
}

.aboutP {
    color: var(--primary-green);
    /* font-size: 40px; */
}

/* Portfolio.jsx CSS */



/* Contact.jsx CSS */



/* Resume.jsx CSS */



/* Footer.jsx CSS */

.footerP {
    color: var(--primary-brown);
    text-align: center;
}