.aboutH1 {
    color: var(--secondary-green);
}

.aboutImg {
    width: 100px;
    height: 100px;
}

.aboutLogo {
    max-width: 100%;
    height: auto;
}

.nameH2 {
    margin: 0px;
}

.webDevH1 {
    color: var(--secondary-green);
    font-size: clamp(3rem, 8vw, 10rem);
    margin: 0px;
}

.paragraph {
    color: var(--secondary-green);
    font-size: 20px;
}