.headerH1 {
    color: var(--accent-color);
}

.headerH2 {
    color: var(--accent-color);
    font-size: 15px;
}

.headerNav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.headerUl {
    list-style-type: none;
}

.headerLink {
    color: var(--accent-color);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

.headerLink:hover {
    color: var(--terciary-color);
    text-decoration: none;
}

.headerLinkActive {
    color: var(--terciary-color);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

.headerImg {
    width: 200px;
    height: 200px;
}
