.headerH1 {
    color: var(--accent-color);
}

.headerH2 {
    color: var(--accent-color);
    font-size: 15px;
    letter-spacing: 5px;
}

.headerNav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.headerUl {
    list-style-type: none;
}

.headerLink {
    color: var(--terciary-color);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 5px;
}

.headerLink:hover {
    color: var(--quaternary-color);
    text-decoration: none;
}

.headerLinkActive {
    color: var(--quaternary-color);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 5px;
}

.menuLink {
    color: var(--terciary-color);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

.menuLink:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.headerImg {
    width: 200px;
    height: 200px;
}