.aboutH1 {
    color: var(--accent-color);
}

.aboutImg {
    width: 100px;
    height: 100px;
}

.aboutLogo {
    max-width: 100%;
    /* max-width: 500px; */
    height: auto;
}

.nameH2 {
    color: var(--accent-color);
    margin: 0px;
}

.nameH1 {
    color: var(--accent-color);
    font-size: clamp(2rem, 4vw, 4rem);
    margin: 0px;
}

.webDevH1 {
    color: var(--accent-color);
    font-size: clamp(2rem, 4vw, 4rem);
    margin: 0px;
}

.paragraph {
    color: var(--accent-color);
    font-size: 20px;
    /* margin: 10px; */
}