.footer {
    color: var(--accent-color);
    /* text-align: center; */
    font-weight: bold;
}

.footerButton {
    color: var(--accent-color);
}

.footerButton:hover {
    color: var(--terciary-color);
    text-decoration: none;
}
