/* Root CSS */
:root {
    /* Color Variables */
    --primary-green: #7E7E5A;
    --secondary-green: #3E3C2A;

    --primary-brown: #977347;
    --secondary-brown: #4C3A1A;

    --primary-grey: #C5C7BD;
    --secondary-grey: #9E9F98;

    --primary-orange: #994930;
    --secondary-orange: #B88672;
}

/* Global CSS */

html, body, main, #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--primary-grey);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 25px;
    padding: 25px;
}

footer {
    margin-top: auto;
    width: 100%;
    box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2);
}
