.portfolioH1 {
    text-align: center;
    color: var(--accent-color);
}

.portfolioLogo {
    width: 100%;
    height: auto;
}

.portfolioLink {
    text-decoration: none;
    color: var(--accent-color);
    font-family: "Antonio", sans-serif;
    font-size: clamp(1.25rem, 2vw, 3rem);
}

.portfolioCard {
    background-color: var(--grey);
    display: flex;
    align-items: end;
}