@import url(https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap);

/* Root CSS */
:root {
    /* Color Variables */
    --primary-green: #7E7E5A;
    --secondary-green: #3E3C2A;

    --primary-brown: #977347;
    --secondary-brown: #4C3A1A;

    --primary-grey: #C5C7BD;
    --secondary-grey: #9E9F98;

    --primary-orange: #994930;
    --secondary-orange: #B88672;

    --primary-color: #0D0D0D;
    --accent-color: #C3C3C3;
    --terciary-color: #A3A3A3;
    --quaternary-color: #FFFFFF;
    --pink: #81717A;
    --white: #F2F4F3;
    /* --grey: #4C5C68; */
    --grey: #000000;
}

/* Global CSS */

html, body, main, #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--primary-color);

    font-family: "Antonio", sans-serif, serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 768px) {
    main {
        margin: 25px 50px 25px 50px;
    }
}

@media (max-width: 768px) {
    main {
        margin: 25px 25px 25px 25px;
    }
}

footer {
    background-color: var(--grey);
    margin-top: auto;
    width: 100%;
    box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2);
}
