@import url(https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap);

/* Root CSS */
:root {
    /* Color Variables */
    --primary-color: #0D0D0D;
    --accent-color: #C3C3C3;
    --terciary-color: #A3A3A3;
    --quaternary-color: #FFFFFF;
    --pink: #81717A;
    --white: #F2F4F3;
    --black: #000000;
}

/* Global CSS */

html, body, main, #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--primary-color);

    font-family: "Antonio", sans-serif, serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 768px) {
    main {
        margin: 25px 50px 25px 50px;
    }
}

@media (max-width: 768px) {
    main {
        margin: 25px 25px 25px 25px;
    }
}

footer {
    /* background-color: var(--black); */
    margin-top: auto;
    width: 100%;
    /* box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2); */
}
